/* file: app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-white: #ffffff;
  --text-black: #000000;
  --text-red: #ff0000;
}

body {
  background-color: var(--background-white);
  color: var(--text-black);
}

a {
  color: var(--text-black);
}

h2 {
  font-weight: normal;
}
